/* * {
  margin: 0px;
  padding: 0px;
} */


.App {
  /* display: flex;
  align-items: center; 
  justify-content: center; */
  margin-left: 25px;
  margin-top: 25px;
  padding-top: 30px;
  text-align: center;
  background-color: rgb(255, 182, 193);
  height: 550px;
  width: 400px;
  border: solid rgb(231, 84, 128) 15px;
}

h2 {
  margin: 0;
  padding-bottom: 15px;
  text-decoration: underline;
}

.input {
  text-align: left;
  margin-left: 10px;
  padding: 5px;
  /* display: flex;
  justify-content: space-around; */
}

.display-form {
  width: 350px;
  height: 200px;
  text-align: left;
  margin-top: 25px;
  margin-left: 15px;
  padding: 5px;
  border: solid black 2px;
}

.button {
  margin-top: 20px;
  background-color: rgb(231, 84, 128);
  color: white;
}

